/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap"); */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@font-face {
  font-family: "Linotte";
  src:
    local("Linotte-Bold"),
    url("assets/fonts/Linotte Bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Linotte";
  src:
    local("Linotte-Regular"),
    url("assets/fonts/Linotte Regular.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Linotte";
  src:
    local("Linotte-SemiBold"),
    url("assets/fonts/Linotte Semi Bold.otf") format("opentype");
  font-weight: 600;
}

:root,
[data-theme="light"] {
  --gold: #f5bf12;
  --gold-dark: #b48b00;

  --green: #02ab48;
  --green-dark: #006e2b;

  --red: #bf0021;
  --red-dark: #bf0021;

  --led-r: #ff3e3e;
  --led-g: #61ff58;
  --led-b: #2674ff;

  --background-base: #fff;
  --background-shadow: 0 0 100vh rgba(119, 91, 0, 0.35) inset;
  --background-gradient: linear-gradient(
    to bottom,
    var(--background-gradient-1),
    var(--background-gradient-2)
  );
  --background-gradient-1: rgba(255, 223, 149, 0.35);
  --background-gradient-2: rgba(255, 149, 149, 0.3189);

  --color: #424940;
  --h1-color: #232622;
  --h2-color: var(--h1-color);
  --h3-color: var(--h1-color);
  --h4-color: var(--h1-color);
  --h5-color: var(--h1-color);
  --h6-color: var(--h1-color);

  --primary: var(--gold-dark);
  --primary-hover: var(--gold);

  --secondary: var(--green-dark);
  --secondary-hover: var(--green);

  --nav-height: 3rem;
  --sep-height: 1.5px;
}

:where(:root) {
  background: none !important;
  scroll-behavior: smooth;
}

body {
  --font-family: "Linotte", sans-serif;
  --font-size: 1.05rem;

  line-height: 1.25;
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--color);

  background-color: var(--background-base);
  background-image: var(--background-gradient);

  margin: 0 auto;
  padding: 0 1em;

  max-width: 800px;
  width: 100%;
}

@media (min-width: 600px) {
  body {
    --font-size: 1.15rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --font-family: "Linotte", sans-serif;
  --typography-spacing-vertical: calc(var(--spacing) * 1.5);

  font-family: var(--font-family);
  color: var(--h1-color);
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.25em;
}

ul,
ol,
ul li,
ol li {
  list-style: none;
  padding: 0;
}

ul li,
ol li {
  margin-bottom: 1em;
}

ul li::before,
ol li::before {
  content: "";
}

ul li strong,
ol li strong {
  line-height: 1.5;
  font-size: 1.15em;
}

p {
  margin: var(--typography-spacing-vertical) 0;
}

footer {
  padding: 1em 0 !important;
  border-top: var(--sep-height) solid rgba(0, 0, 0, 0.15);

  font-size: 0.8em;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 576px) {
  footer {
    flex-direction: column;
    align-items: center;
  }
}

.gold {
  color: var(--gold);
}

.gold-dark {
  color: var(--gold-dark);
}

.green {
  color: var(--green);
}

.green-dark {
  color: var(--green-dark);
}

.red {
  color: var(--red);
}

.red-dark {
  color: var(--red-dark);
}

.led-r {
  color: var(--led-r);
}

.led-g {
  color: var(--led-g);
}

.led-b {
  color: var(--led-b);
}

.javascript {
  color: var(--gold-dark);
  font-weight: bold;
}

.python {
  color: var(--led-b);
  font-weight: bold;
}

.background {
  position: fixed;
  left: 0;
  width: 100%;
  /* Workaround for scuffed mobile navbars */
  top: -100vh;
  height: 200vh;
  overflow: hidden;

  box-shadow: var(--background-shadow);
  z-index: -1;
}

.inline-icon,
.inline-emoji {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.25em;
}

.inline-icon {
  filter: invert(1);
}

#move-down {
  width: 100%;
  height: 5vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: inherit;
}

#move-down:hover,
#move-down:focus,
#move-down:active {
  background: none;
  text-decoration: none;
}

#move-down .material-icons {
  font-size: 2em;
}

#intro {
  margin: 0 auto;
  padding: 2em 0;
  box-sizing: border-box;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 600px;
  min-height: 100vh;
}

#intro > div {
  display: flex;
  flex-direction: column;
}

#intro #move-down {
  position: absolute;
  bottom: 0;
}

#intro h2 {
  margin-top: 2em;
}

#intro h2,
#intro h3 {
  text-align: center;
}

#christmas-tree {
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
}

#about {
}

#schedule table {
  width: 100%;
  max-width: max-content;
  backdrop-filter: blur(6px);
}

#schedule table td {
  padding: calc(var(--spacing) / 2);
  font-size: 1em;
  border-bottom: 0;
}

#schedule table tr:first-child td {
  padding-top: 0;
}

#schedule table td:nth-child(1) {
  width: 6ch;
  padding-left: 0;
  padding-right: 0;
  font-weight: 600;
  vertical-align: baseline;
}

#architecture {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#architecture img {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
}

#architecture .vertical-diagram {
  display: none;
}

@media (max-width: 500px) {
  #architecture .horizontal-diagram {
    display: none;
  }

  #architecture .vertical-diagram {
    display: block;
  }
}

#contact {
  text-align: center;
}

#contact img {
  max-width: 250px;
}

#contact a {
  font-weight: bold;
}
